
@{
    ViewBag.Title = "GetCustomerOrderDetails";
}

<h2>GetCustomerOrderDetails</h2>
@using (Html.BeginForm("GetCustomerOrderDetails", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Customer</h4>

        <h1>Search for customer order details</h1>
        <input type="text" name="customerId">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search customer" class="btn btn-default" />
            </div>
        </div>
    </div>
}
